body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    margin: 0;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Light Blue */
}

header {
    background-color: #4169e1; /* Blue */
    padding: 100px; /* Increased padding */
    display: flex;
    justify-content: space-between; /* Align items to the right */
    align-items: flex-start;
    height: 0px;
}
/* CSS to shift the home button to the top right */
nav {
    position: absolute;
    top: 90px; /* Move the buttons down */
    right: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    background-color: rgb(235, 219, 70); /* Set background color to yellow */
    color: #000; /* Set text color to black for better readability */
    padding: 10px 15px; /* Add some padding for better appearance */
    text-decoration: none; /* Remove underline from links */
    border-radius: 5px; /* Add rounded corners */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    background-color: rgb(241, 80, 80); /* Set background color to red on hover */
    color: #fff; /* Set text color to white on hover for better contrast */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* CSS to divide items into three columns */
.price-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price-item {
    flex-basis: 30%; /* Each item takes up 30% of the container */
    margin-bottom: 20px; /* Adjust margin as needed */
    text-align: center; /* Center align item contents */
    transition: transform 0.3s ease; /* Transition effect */
}

.price-item img {
    width: 100%;
    max-width: 150px; /* Adjust image width as needed */
    height: auto;
}

/* Hover effect */
.price-item:hover {
    transform: translateY(-5px); /* Move item up on hover */
}

/* Additional styles */
 

h1 {
    text-align: center;
    margin-bottom: 30px;
}

footer {
    background-color: #4169e1; /* Blue */
    color: white;
    text-align: center;
    padding: 20px;
}
.logo{
    width: 250px; /* Adjust the size as needed */
    position: absolute;
    top: -25px;
    bottom: auto;
    padding-bottom: 30%;
    left: 1px;
}
.price-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price-item {
    flex-basis: 30%; /* Each item takes up 30% of the container */
    margin-bottom: 20px; /* Adjust margin as needed */
    text-align: center; /* Center align item contents */
    transition: transform 0.3s ease; /* Transition effect */
}

.price-item img {
    width: 100%;
    max-width: 150px; /* Adjust image width as needed */
    height: auto;
}

/* Hover effect */
.price-item:hover {
    transform: translateY(-5px); /* Move item up on hover */
}
