<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational Resources - scRRRapit</title>
    <link rel="stylesheet" href="/static/edu.css">
</head>
<body>
    <header>
        <div>
            <img src="/static/NEWLOGO.png" alt="Logo" class="logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/scrap_price">Scrap Price</a></li>
                <li><a href="/educational_resourses">Educational Resources</a></li>
                <li><a href="/scrrrap_points">scRRRap Points</a></li>
            </ul>
        </nav>
    </header>
    <section class="resources-section">
        <div class="container">
            <h1>Educational Resources</h1>
            <br>
            <br>
            <br>
            <br>
            <div class="content-grid">
                <div class="video-item">
                    <iframe width="80%" height="315" src="https://www.youtube.com/embed/VIDEO_ID_1" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="video-item">
                    <iframe width="80%" height="315" src="https://www.youtube.com/embed/VIDEO_ID_2" frameborder="0" allowfullscreen></iframe>
                </div>
            
                <div class="article-item">
                    <a href="https://www.slideshare.net/slideshow/scrap-management/15387921">Article 1: Scrap Management Slides</a>
                </div>
                <div class="article-item">
                    <a href="https://www.machinemetrics.com/blog/reduce-manufacturing-scrap">Article 2: Reduce Manufacturing Scrap</a>
                </div>
                <div class="article-item">
                    <a href="https://bestkabadiwala.com/tips-for-efficient-scrap-management/">Article 3: Tips for Efficient Scrap Management</a>
                </div>
                <div class="article-item">
                    <a href="https://www.scribd.com/document/440619547/Standard-Operating-Procedure-for-Scrap-Management-docx">Article 4: Standard Operating Procedure for Scrap Management</a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 scRRRapit. All rights reserved.</p>
    </footer>
</body>
</html>
